* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar header {
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
    height: 72px;
}

.profile {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
}

.profile span {
    padding-top: 10px;
    padding-left: 10px;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;  
}

.sidebar .profile_image {
    margin-top: 10px;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transform: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    left: 40px;
    top: 10px;
    font-size: 35px;
    color: grey;
    padding: 6px 12px;
    transition: all .5s;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
}


#check:checked ~ section {
    margin-left: 150px;
}

.main-container {
    height: 1020px;
    transition: all .5s;
}

.search-and-noti {
    padding-left: 120px;
    background: #063146;
    height: 7.2%;

}

.logout {
    padding-left: 50px;
    padding-top: 20px;
    margin-left: 80%;
}

.logout_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.company-name {
    padding-top: 20px;
    padding-left: 120px;
    color: black;
    font-size: 30px;
}

.dashboard-wrapper, .sub-panel  {
    padding-top: 30px;
    margin-left: 120px;
    margin-right: 90px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10%;   
}

.dashboard-wrapper .panel, .sub-panel .panel {
    text-align: center;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 4px 1px rgba(143,143,143,.2);
    margin-left: 20px;
}

.table-canvas {
    height: 300px;
    width: 400px;
}

@media (max-width: 600px) {
    .main-container {
        background: white;
    }

    #check:checked ~ section {
        margin-left: 20px;
    }

    .sidebar {
        max-width: 45%;
        opacity: 0.9;
    }

     .search-and-noti {
        padding-left: 25px; 
    }

    .logout_btn {
        margin-left: 15%;
    }

    /* #check:checked ~ label #btn {
        left: 200px;
    } */

    .logout {
        margin-left: 60%;
    }

    .dashboard-wrapper {
        display: initial;
    
    }

    .sub-panel {
        display: initial;
    
    }

     .table-canvas {
        width: 300px !important
    }

    .chartjs-render-monitor {
        /* height: 400px; */
        width: 300px;
        /* padding-right: 150px; */
        margin-left: 50px;
    }

    #p1,
    #p2,
    #p3,
    #p4,
    #p5,
    #p6 {
        width: 93%;
        margin-top: 10px;
        padding-top: 10px;
    }
}
